/* Assignment#49-52 Q3 */
/* table , th , td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

tr {
    width: 50px;
    height: 35px;
} */


/* Assignment#43-48  Q3
table , th , td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

tr {
    width: 50px;
    height: 35px;
} */

